body, html {
  padding: 0;
  margin: 0;
  font-family: 'Fresca', cursive;
}

/* HEADER */
nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 5px -2px #3e3e3e;
  background: linear-gradient(1deg, #da0000, #ff5454);
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
}

nav > div {
  margin: 0px 15px;
}

.nav-spacer {
  height: 50px;
}

.logo_container {
  display: flex;
  align-items: center;
}

.login_container {
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
}

/* MENU */
.menu_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.submenu_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.submenu_title {
}

.category_container {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #afafaf;
  background: black;
  color: #fff;
}

.category_button {
    text-align: center;
}

.item_container {
  background: lightgreen;
  margin: 10px;
  padding: 10px;
}

.toppings_container {
  background: #fe5252;
  margin: 10px;
  padding: 10px;
}

/* CART*/
.cart_overlay {
  background: #00000047;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

.cart_container {
  position: relative;
  z-index: 10;
}

.cart_button {
  background: #ffffff;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  box-shadow: 0px 0px 7px 0px grey;
  color: #fff;
  z-index: 1;
}

.cart_button:hover {
  background: #fb4a4a;
}
.cart_button:hover .cart_icon {
  color: #fff;
}

.cart_icon {
  position: absolute;
  font-size: 1.5em;
  transform: translate(-2px);
  color: #fb4a4a;
}

.cart_notification_container {
  position: fixed;
  right: 120px;
  bottom: 75px;
  overflow-x: hidden;
  width: 0px;
  text-align: center;
}

.cart_notification_animation {
  animation-name: cartNotification;
  animation-duration: 4s;
}

@keyframes cartNotification {
  0% {width: 0px}
  20% {width: 220px}
  80% {width: 220px}
  100% {width: 0px}
}

.cart_notification_box {
  background: #fe5252;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 0px grey;
  color: #fff;
  bottom: 0;
  position: relative;
  width: 190px;
}

.cart_notification_point {
  border-top: 10px solid #fe5252;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  width: 0;
  position: absolute;
  right: -10px;
  transform: rotate(-90deg);
}

.cart_contents {
  position: fixed;
  right: 135px;
  bottom: 140px;
  background: #fff;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px grey;
}

/* FOOTER */
.footer {
  display: flex;
  background: linear-gradient(#00b300, #308000);
  height: 150px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.signature {
  text-align: center;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  font-size: 1.4em;
}

.icon_container {
  margin: 0 15px;
  background: black;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***************************/
/* Functional classes */

/* GENERAL */
.active {
  display: block;
}
.hidden {
  display: none;
}

/* CART */
.cart_button_active {
  background: #fb4a4a;
}
.cart_icon_active {
  color: #fff;
}
