<div class="footer">
  <div class="night_mode">
    <div class="night_mode_text">
      night mode
    </div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="footer_content">
    <div class="signature">
      Created by: Alex Saliu
    </div>
    <div class="icons">
      <a href="https://github.com/BaysheffDev">
        <div class="icon_container">
          <i class="fab fa-github"></i>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/alex-saliu-216934101/">
        <div class="icon_container">
          <i class="fab fa-linkedin"></i>
        </div>
      </a>
      <a href="#">
        <div class="icon_container">
          <i class="fas fa-address-book"></i>
        </div>
      </a>
    </div>
  </div>
</div>
