<nav>
  <div class="logo_container">
    <div class="">
      <i class="fas fa-pizza-slice" style="transform: rotate(-60deg);"></i>
      <i class="fas fa-pizza-slice"></i>
    </div>
  </div>
  <div class="login_container">
    {% if loggedin %}
      <div class="">
        Logout
      </div>
    {% else %}
      <div class="login">
        Login
      </div>
      <div class="register">
        Register
      </div>
    {% endif %}
    <div class="admin">
      Admin
    </div>
  </div>
</nav>
<div class="nav-spacer"></div>
