<nav>
  <div class="logo_container">
    <a href="{% url 'index' %}">
      <div class="">
        <i class="fas fa-pizza-slice" style="transform: rotate(-60deg);"></i>
        <i class="fas fa-pizza-slice"></i>
      </div>
    </a>
  </div>
  <div class="login_container">
    <a href="{% url 'orders' name='admin' %}">
      <div class="admin">
        Admin&nbsp;
        <i class="fab fa-buffer"></i>
      </div>
    </a>
    {% if loggedin %}
      <a href="{% url 'orders' name=user.username %}">
        <div class="user_orders">
          {{ user.username }}&nbsp;
          <i class="fas fa-file-invoice-dollar"></i>
        </div>
      </a>
      <a href="{% url 'logout' %}">
        <div class="logout">
          Logout
        </div>
      </a>
    {% else %}
      <a href="{% url 'login' %}">
        <div class="login">
          Login
        </div>
      </a>
      <a href="{% url 'register' %}">
        <div class="register">
          Register
        </div>
      </a>
    {% endif %}
  </div>
</nav>
<div class="nav-spacer"></div>
