<h1 style=""> Pinocchio's Pizza
  <i class="fas fa-pizza-slice" style="transform: rotate(-60deg);"></i>
  <i class="fas fa-pizza-slice"></i>
</h1>
<div class="menu_container">
  {% for submenu in submenus %}
    <div class="submenu_title">
      {{ submenu.name }}
    </div>
    <div class="submenu_container">
      {% for category in submenu.categories.all %}
        {% if category|stringformat:"s" == "Pasta" %}
          <!-- Groups Pasta and Salads categories into 1 container because they are small -->
          <div class="group_container">
        {% endif %}
          <div class="category_container">
            <div class="category_box">
              {% if category|stringformat:"s" == "Sicilian Pizza" %}
                <div class="house_favourite">
                  House Favourite
                </div>
              {% endif %}
              <div class="category_title">
                {{ category }}
              </div>
              <div class="category_photo {{category|lower}} photo"></div>
              <div class="item_container">
                {% if category.sizes %}
                <div class="sizes">
                  <div class="size_container">
                    <div class="size_small">Small</div>
                    <div class="size_large">Large</div>
                  </div>
                </div>
                {% endif %}
              {% for item in items %}
                {% if item.category == category %}
                  <div class="item_box">
                    <div class="item">
                      <div class="item_overlay hidden"></div>
                      <div class="item_name">{{ item.name }}</div>
                      <div class="price_container">
                        {% if category.sizes %}
                          {% if item.smallPrice != None %}
                            <div class="Sml price">
                              <div class="price_box">
                                {{ item.smallPrice }}
                              </div>
                              <div class="quantity_container">
                                <div class="plus">
                                  <i class="fas fa-plus"></i>
                                </div>
                                <input type="text" name="" value=0 readonly>
                                <div class="minus">
                                  <i class="fas fa-minus"></i>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                          {% if item.largePrice != None %}
                            <div class="Lg price">
                              <div class="price_box">
                                {{ item.largePrice }}
                              </div>
                              <div class="quantity_container">
                                <div class="plus">
                                  <i class="fas fa-plus"></i>
                                </div>
                                <input type="text" name="" value=0 readonly>
                                <div class="minus">
                                  <i class="fas fa-minus"></i>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% else %}
                          <div class="Std price">
                            <div class="price_box">
                              {{ item.stdPrice|default_if_none:"" }}
                            </div>
                            <div class="quantity_container">
                              <div class="plus">
                                <i class="fas fa-plus"></i>
                              </div>
                              <input type="text" name="" value=0 readonly>
                              <div class="minus">
                                <i class="fas fa-minus"></i>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                    {% if item.itemToppings.all %}
                      <div class="toppings_container item_toppings">
                        <div class="toppings_box">
                          <div class="extras_title">EXTRAS</div>
                          {% for topping in item.itemToppings.all %}
                            <div class="topping">
                              <div class="topping_name">{{ topping.name }}</div>
                              <div class="topping_price">
                                <div class="price_box">
                                  {{ topping.price }}
                                </div>
                                <input type="checkbox" name="" value=0 readonly>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                  {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
              </div>
              {% if category.categoryToppings.all %}
                <div class="toppings_container category_toppings">
                  <div class="toppings_box">
                    <div class="toppings_title">TOPPINGS</div>
                    {% for topping in toppings %}
                      {% if topping.category == category %}
                      <div class="topping">
                        <div class="topping_name">{{ topping.name }}</div>
                        <div class="topping_price">
                          <div class="price_box">
                            {{ topping.price|default_if_none:"" }}
                          </div>
                          <input type="checkbox" name="" value=0 disabled>
                        </div>
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="category_button">
              <input onclick="addToCart(this)" type="button" name="" value="Add to Cart"></input>
            </div>
          </div>
        {% if category|stringformat:"s" == "Salads" %}
          <!-- Closes container grouping Pasta and Subs -->
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
