<h1>Menu</h1>
<div class="menu_container">
  {% for submenu in submenus %}
    <div class="submenu_title">
      {{ submenu.name }}
    </div>
    <div class="submenu_container">
      {% for category in submenu.categories.all %}
        <div class="category_container">
          <div class="">
            {{ category }}
          </div>
          <div class="item_container">
            {% if category.sizes %}
            <div class="sizes">
              <div class="size_container">
                <div class="size_small">Small</div>
                <div class="size_large">Large</div>
              </div>
            </div>
            {% endif %}
          {% for item in items %}
            {% if item.category == category %}
              <div class="item">
                <div class="item_name">{{ item.name }}</div>
                <div class="price_container">
                  {% if category.sizes %}
                    <div class="item_smallPrice">
                      {{ item.smallPrice|default_if_none:"" }}
                      <input type="checkbox" name="" value="">
                    </div>
                    <div class="item_largePrice">
                      {{ item.largePrice|default_if_none:"" }}
                      <input type="checkbox" name="" value="">
                    </div>
                  {% else %}
                    <div class="item_stdPrice">
                      {{ item.stdPrice|default_if_none:"" }}
                      <input type="checkbox" name="" value="">
                    </div>
                  {% endif %}
                </div>
              </div>
              {% if item.itemToppings.all %}
                <div class="">EXTRAS</div>
                <div class="toppings_container">
                  {% for topping in item.itemToppings.all %}
                    <div class="topping">
                      <div class="topping_name">{{ topping.name }}</div>
                      <div class="topping_price">
                        {{ topping.price }}
                        <input type="checkbox" name="" value="">
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>
          {% if category.categoryToppings.all %}
            <div class="">TOPPINGS</div>
            <div class="toppings_container">
              {% for topping in toppings %}
                {% if topping.category == category %}
                <div class="topping">
                  <div class="topping_name">{{ topping.name }}</div>
                  <div class="topping_price">
                    {{ topping.price|default_if_none:"" }}
                    <input type="checkbox" name="" value="">
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          <div class="category_button">
            <input onclick="cartNotification()" type="button" name="" value="Add to Cart"></input>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
