{% extends "menu/base.html" %}

{% block title %}
  Orders
{% endblock %}

{% block body %}
  {% include "menu/header.html" %}
    <div class="orders_container">
      <div class="orders_title">
        {{ title }}
      </div>
      <div class="orders_headings">
        <div class="order_id_heading">Order Id</div>
        <div class="order_name_heading">Name</div>
        <div class="order_created_heading">Date</div>
        <div class="order_total_heading">Total</div>
        <div class="order_status_heading">Status</div>
      </div>
      <div class="orders_contents">
        {% for order in orders %}
          <div class="order_box">
            <div class="order_id">
              {{ order.id }}
            </div>
            <div class="order">
              <div class="order_info">
                <div class="order_created">{{ order.created }}</div>
                <div class="order_name">{{ order.name }}</div>
                <div class="order_total">{{ order.total }}</div>
                <div class="order_status {{order.status}}">{{ order.status }}</div>
                <div class="change_order_status">
                  <select data-orderId="{{order.id}}" onchange="changeOrderStatus(this)" class="order_status_selector" name="">
                    <option {% if order.status == "Placed" %}selected{% endif %} value="Placed">Placed</option>
                    <option {% if order.status == "Preparing" %}selected{% endif %} value="Preparing">Processing</option>
                    <option {% if order.status == "Complete" %}selected{% endif %} value="Complete">Complete</option>
                  </select>
                </div>
              </div>
              {% for orderLine in order.orderLines %}
                <div class="order_line">
                  <div class="order_line_item">
                    <div class="line_item_category">
                      ({{ orderLine.itemCategory }})
                    </div>
                    <div class="line_item_qty">
                      {{ orderLine.qty }}x
                    </div>
                    <div class="line_item_name">
                      {{ orderLine.itemName }}
                    </div>
                    <div class="line_item_size">
                      ({{ orderLine.itemSize }})
                    </div>
                  </div>
                  {% if orderLine.toppings %}
                    <div class="order_line_topping">
                      -
                      {% for topping in orderLine.toppings %}
                        <div class="line_item_topping">
                          {{ topping }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <div class="order_line_price">
                    {{ orderLine.linePrice }}
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% include "menu/footer.html" %}
{% endblock %}
